body {
    margin: 0;
}

.title {
    color:rgb(64, 69, 105);
    font-size: 110px;    
    text-align: center; 
}

.button-container{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 0px;
}

  

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}
